body {
  font-family: cursive;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #f5f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: rgb(165, 70, 7);
  padding: 20px;
  text-align: center;
  font-size: 50px;
}

body.dark-mode h1 {
  background-color: #1d1d1d;
  color: #fff;
}

#nightModeToggle {
  padding: 10px 20px;

  color: brown;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

#nightModeToggle:hover {
  background-color: #c6e8c7;
}

body.dark-mode #nightModeToggle {
  background-color: #444;
  color: #fff;
}

body.dark-mode #nightModeToggle:hover {
  background-color: #403f3f;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 34cm;

  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  flex: 1;

  margin-right: 0;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 20px;
  transition: box-shadow 0.3s ease;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #e49864;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 10px;
}

body.dark-mode input {
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

input:focus {
  box-shadow: 0px 0px 8px rgba(195, 89, 28, 0.3);
  border-color: #df8a77;
}

button:hover {
  background-color: #e47922;
}

body.dark-mode button {
  background-color: #3a3a3a;
}

body.dark-mode button:hover {
  background-color: #555;
}

#result {
  margin-top: 20px;
  padding: 15px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

body.dark-mode #result {
  background-color: #2c2c2c;
}

#favorites {
  background-color: #f2e0a5;
  font: cursive;
  font-size: 12px;
  color: rgb(19, 1, 1);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

body.dark-mode #favorites {
  background-color: #1d1d1d;
  color: #ddd;
}

#favorites ul {
  list-style: none;
}

#favorites ul li {
  padding: 4px 8px;
  margin: 12px 0;
  background: #020201;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: aliceblue;
}

body.dark-mode #favourites ul li {
  background-color: #121212;
}
